/* HeroImage.scss */
//desktop hero image
@media (min-width: 1000px) {
  // Add your styles for devices wider than 1000px here

  .hero-wrapper {
    position: relative; //ovo ne treba za desktop
    width: 100%;
    height: 800px; /* Adjust the height as needed */
    // overflow: hidden; // ne vidi se cijela slika

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
