.sponsors {
  margin-top: 6rem;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brand-image {
  width: 7rem;
}

@media (min-width: 1000px) {
  // Add your styles for devices wider than 1000px here
}
